.textarea {
  border: none;
  resize: none;
  outline: none;

  padding: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ceil {
  cursor: pointer;
  position: relative;
}

.deleteButton {
  position: absolute;
  right: 30px;
  top: 1px;

  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;

  cursor: pointer;
}