.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow-x: auto;
  border: 1px solid grey;
  scroll-behaviour: smooth;
}

.table {
  width: 100%;
  padding-top: 20px;
  border-collapse: collapse;
}

.addButton {
  outline: none;
  border-radius: none;

  position: absolute;
  top: calc(50% - 12px);
  right: -12px;
  z-index: 4;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.addRowButton {
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  border-radius: none;
}

.sendButton {
  outline: none;
  height: 40px;
  margin-top: 10px;
  border: 1px solid grey;
}