.App {
  text-align: center;
  color: aqua;
}

body, html {
  height: 100%;
  padding: 40px;
}

* {
  box-sizing: border-box;
}

.table {
  border: 2px solid black;
}

.addRowButton {
  background-color: rgb(187, 183, 183);
}

.sendButton {
  display: none;
}